.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.product-item {
  color: black;
  display: flex;
  border: 2px solid lightgray; 
  padding: 10px;          
  margin: 20px;           
  max-width: 100%; 
  border-width: thin;   
  box-sizing: border-box;
  border-radius: 10px;     
}
  

.product-image{
  width: 300px;
  float: left;
  padding: 20px;
}

.product-name{
  font-weight: bolder;
  color: black;
}
.product-details{
  padding:10px;
  color: grey;
  margin-left: 15px;
}


.listcars{
padding: 35px; 
text-shadow: 2px 2px 2px lightgray; 
margin-left: 15px;
}
.carscat{ 
  color: grey; 
  text-shadow: 2px 2px 2px lightgray;
  margin-left: 70px;
  }

#listcars{
  padding: 20px;
  
}
.container-login{
  flex: 1;
  width: 100%;
  height: 80%;
  max-width: 250px;
  max-height: 800px;
  border: 1px solid rgb(254,153, 0);
  border-radius: 15px;
  padding: 30px;
}

.image-section {
  flex: 1;
  display: flex;
  float: left;
  justify-content: left;
align-items: left;
padding-left: 70px;
padding-top: 70px;
}

.image-section img {
  float: left;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.login-section{
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: right;
  padding-right: 50px;
  padding-top: 70px;
}

.login-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  border: 2px solid rgb(254,153, 0);
}

.login-container h2 {
  margin: 0 0 20px;
  font-size: 24px;
  text-align: center;
  color: #202020;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input{
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(254,153, 0);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #202020;
}

input::placeholder {
  color: #999;
  font-size: 16px;
}
.checkbox-group {
display: flex;
}

.checkbox-group input[type="checkbox"]{
margin-right: 2px;
}

.checkbox-group a{
  color: rgb(254,153, 0);
}

.checkbox-group a:hover {
text-decoration: underline;
background-color: rgb(254,153, 0);
}

.button-login {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #f2994a,#e3b34d);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

button-login:hover {
  background: linear-gradient(to right, #e3b34d, #f2994a);
}

.espacio {
  margin: 20px 0;
  font-size: 14px;
  color: #202020;
  text-align: center;
}

.logotipos {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  padding: 25px;
  justify-content: center;
}

.logotipos .logo2 {
  width: 110px;
  height: auto;
}

