.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.product-item {
  color: black;
  border: 2px solid lightgray; 
  padding: 10px;          
  margin-top: 20px;
  margin-bottom: 20px;           
  max-width: 100%; 
  border-width: thin;   
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;     
  flex-wrap: wrap;
  background-color: #ccc;
}
  
.dark-mode .product-item {
  color: white;
  background-color: #202020;
}

.product-image{
  padding: 5px;
  display: flex;
  max-width: fit-content;
  height: auto;
}

.product-name{
  font-weight: bolder;
  color: black;
}
.product-details{
  padding:10px;
  color: rgb(12, 12, 12);
  margin-left: 15px;
}


.listproducts{
padding: 35px; 
color: black;
margin-left: 15px;
}
body.dark-mode .listproducts{
  padding: 35px; 
  color: white;
  margin-left: 15px;
  }
.carscat{ 
  color: black;
  margin-left: 70px;
  }
body.dark-mode .carscat{ 
  color: rgb(248, 249, 250);
  margin-left: 70px;
  }

#listcars{
  padding: 20px;
  
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.login-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  border: 2px solid rgb(254,153, 0);
}
.login-container h2 {
  margin: 0 0 20px;
  font-size: 24px;
  text-align: center;
  color: #202020;
}
.input-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(254, 153,0);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #202020;
}

input::placeholder {
  color: #999;
  font-size: 16px;
}
.checkbox-group {
display: flex;
align-items: left;
}

.checkbox-group input[type="checkbox"]{
margin-right: 2px;
}

.checkbox-group a{
  color: rgb(254,153, 0);
  text-decoration: none;
}

.checkbox-group a:hover {
text-decoration: underline;
background-color: rgb(254,153, 0);
}

.button-login {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #f2994a, #e3b34d);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}
.button-login:hover {
  background: linear-gradient(to right, #e3b34d, #f2994a);
}
.espacio {
  margin: 20px 0;
  font-size: 14px;
  color: #202020;
  text-align: center;
}
.logotipos {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  padding: 25px;
  justify-content: center;
}
.logotipos .logo2 {
  width: 110px;
  height: auto;
}


.product-info-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: white;
}

.product-info-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.product-info-details {
  padding: 20px 0;
}

.cantidades-info-vendidas {
  font-size: 14px;
  color: gray;
}

.product-main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-info-name {
  font-size: 24px;
  font-weight: bold;
}

.product-category {
  font-size: 16px;
  color: gray;
}

.product-info-description {
  margin-top: 10px;
}

.product-info-description p {
  font-size: 12px;
  color: #333;
}

.related-products-section {
  padding: 20px;
  background-color: #f8f8f8;
  margin-top: 20px;
}

#related-products-container {
  display: flex;
  justify-content: center;
  gap:100px;
  text-align: center;
  margin-left: 300px;
  width: 60%;
  
}

.related-products-grid {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  width: 45%;
  box-shadow: 0 4px 8px rgba(49, 49, 49, 0.1);
}

.related-product-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.related-product h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#Experience {
width: 300px; 
height: 150px; 
justify-content: center;
align-items: center; 
border-radius: 2px grey;
font-size: 20px; 
text-align: center; 
box-shadow: 0 4px 10px rgba(196, 193, 193, 0.5); 

}

#EstrellasInput {
  width: 300px; 
  height: 150px; 
  justify-content: center;
  align-items: center; 
  border-radius: 2px grey;
  font-size: 20px; 
  text-align: center; 
  box-shadow: 0 4px 10px rgba(196, 193, 193, 0.5);
}

.Calification{
    font-size: 10px;
    }

.ButtonComments{
  width: 80px;
  justify-content: center;
  margin-left: 205px;
  }

.commentsInfo{
  border-radius: 2px grey;
  width: 10000px; 
  }

  .product-inter{
    font-size: 20px;
    margin-left: 100px;
    margin-right: 120px;
    }

/* Color para Estrellas seleccionadas */
.star.selected {
  color: rgb(255, 215, 0); 
}

.dropdown-menu {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* My-profile */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  margin: 10px;
  overflow: hidden;
  border-radius: 150px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  width: 200px; 
  height: 200px;
}

#imagenPerfil {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 50%; 
}

#inputImagen{
  display: none;
}

#buttonEditarPerfil:hover{
color: #999;
}


.input-profile input {
  width:60%;
  padding: 10px;
  margin-left: 150px;
  margin-inline-end: 350px;
  border: 2px solid rgb(254, 153,0);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #202020;
  align-items: center;
  justify-content: center;
}

.button-profile {
  background: linear-gradient(to right, #f2994a, #e3b34d);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  margin-left: 40px;
  margin-bottom: 10px;
  max-width: 300px; /* Ajusta el ancho máximo */
  padding: 10px;
  border: 2px solid rgb(254, 153,0);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.title-mi-perfil, #mensajeError {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


/* Boton switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #02182b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #02182b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Estilos Modo Dia/Noche */

body {
  background-color: rgb(185, 178, 178);
  color: rgb(31, 30, 30);
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: rgb(31, 30, 30);
  color: rgb(248, 249, 250);
}


body.dark-mode {
  background-color: rgb(31, 30, 30);
  color: rgb(185, 178, 178);
}

.theme-toggle {
  width: 60px;
  height: 30px;
  background-color: lightgray;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.toggle-button.dark {
  transform: translateX(30px);
  background-color: #333;
}

.theme-toggle:hover {
  background-color: gray;
}
#container {
  background-color: rgb(248, 249, 250); /* Color claro por defecto */
  color: rgb(31, 30, 30); /* Color del texto por defecto */
}

body.dark-mode #container {
  background-color: rgb(35, 34, 34); /* Color oscuro en modo noche */
  color: rgb(248, 249, 250); /* Color del texto en modo noche */
}


.dark-mode.related-products-section {
  padding: 20px;
  background-color: rgb(35, 34, 34);
  margin-top: 20px;
}


.list-group.dark-mode {
  background-color: rgb(248, 249, 250);
  color: rgb(31, 30, 30);
}

.dark-mode #product-name{
  font-weight: bolder;
  color: rgb(250, 247, 247);
}
.dark-mode #producto-info{
  padding:10px;
  color: rgb(247, 239, 239);
  margin-left: 15px;
}
/* Carrito */

.cart {
  max-width: 800px;
  flex-grow: 1;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: rgb(31, 30, 30);
  
}

.cart-title {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 40px;
}
.cart-item {
  align-items: flex-start; 
  margin-bottom: 20px; 
}
.product-price {
  font-family: inherit;
  font-size: 17px;
  font-weight: lighter;
  margin-bottom: 50px;
}

input[type="number"] {
  width: 60px;
  text-align: center;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

h9 {
  margin: px 0;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  float:unset;  
}

h2 {
  margin-top: 20px;
  text-align: left;
}

.productoComprado {
    width: 10%; 
    height: auto;
    float: left;
}
.btn-remove {
  background: none; /* Sin fondo */
  border: none;
  color: rgb(58, 57, 57); 
  cursor: pointer; 
  margin-left: 10px; 
}

.btn-remove:hover {
  color: darkred; /* Color al pasar el mouse */
}

.dark-mode.cart{
  background-color: rgb(31, 30, 30);
  color: rgb(248, 249, 250);
}

#cart {
  max-width: 800px;
  flex-grow: 1;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: rgb(31, 30, 30);
  
}
.dark-mode #cart{
background-color: rgb(35, 34, 34);
color: rgb(248, 249, 250);
}
.badge-custom {
  background-color: #535c66; 
  color: #d9dadb;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.3em; 
}
 .dropdown-item i {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.button-cart {
  padding: 12px;
  background: linear-gradient(to right, #f2994a, #e3b34d);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;

}
.input-cars input{
  width:60%;
  margin-inline-end: 350px;
  border: 2px solid rgb(254, 153,0);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #202020;
  align-items: center;
  justify-content: center;
}
#shippingType{
  width:60%;
  margin-inline-end: 350px;
  border: 2px solid rgb(254, 153,0);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #202020;
  align-items: center;
  justify-content: center;
}


#selectTipoDeEnvio{
  border: 2px solid rgb(254, 153,0);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #202020;
  align-items: center;
  justify-content: center;
}

#selectMetodoPago{
  border: 2px solid rgb(254, 153,0);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #202020;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}


#cart-btn-container {
  overflow: hidden;
  position: relative; 
  font-family: 'Raleway', sans-serif;
  transition: all 0.3s ease;
  margin-top: 10px;
}
.comprar {
  float: right;
  padding: 10px 20px; 
  background-color: #099969;
  color: #ffffff; 
  border: none; 
  border-radius: 5px; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
  font-size: 18px; /* Tamaño de fuente */
  cursor: pointer; 
  transition: background-color 0.3s, box-shadow 0.3s; 
  transform: scale (0.90);
}

.comprar:hover {
  background-color: #0b861c; 
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25); 
}

#phoneNumber{
  width: 100%; 
  max-width: 400px;
}